# Ignore OS X directory files
.DS_Store
lib

# Ignore files created by package managers
/node_modules
/node_modules_back
/npm-debug.log


# Ignore IDE files
.idea

/tmp/
/target/
/out/

config.json
dist
build